@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
    background: rgb(215,114,251);
    background: -moz-linear-gradient(265deg, rgba(215,114,251,1) 20%, rgba(150,114,251,1) 72%);
    background: -webkit-linear-gradient(265deg, rgba(215,114,251,1) 20%, rgba(150,114,251,1) 72%);
    background: linear-gradient(265deg, rgba(215,114,251,1) 20%, rgba(150,114,251,1) 72%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d772fb",endColorstr="#9672fb",GradientType=1);
}